* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
header{
  background-color: aqua;
  height: 10vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about{
  background-color: rgb(255, 196, 0);
  height: 23vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  background-color: rgb(104, 4, 81);
  height: 30vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products{
  background-color: red;
  height: 30vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: rgb(13, 8, 88);
  height: 10vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
